<p-table [value]="pokemons">
  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Capturado</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pokemon>
    <tr>
      <td>{{pokemon.nome}}</td>
      <td>{{pokemon.tipo}}</td>
      <td>
        <p-tag [value]="pokemon.capturado ? 'Sim' : 'Não'" [severity]="pokemon.capturado ? 'success' : 'danger'"></p-tag>
      </td>
      <td>
        <button pButton icon="pi pi-trash" (click)="remover(pokemon.id)" class="p-button-danger" label="Excluir"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
