<p-table [value]="pokemons">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Número na Pokédex</th>
      <th>Capturado</th>
      <th>Excluir</th>
      <th>Editar</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pokemon>
    <tr>
      <td>{{pokemon.id}}</td>
      <td>{{pokemon.nome}}</td>
      <td>{{pokemon.tipo}}</td>
      <td>{{pokemon.numero_pokedex}}</td>
      <td>
        <p-tag [value]="pokemon.capturado ? 'Sim' : 'Não'" [severity]="pokemon.capturado ? 'success' : 'danger'"></p-tag>
      </td>
      <td>
  <app-pokemon-delete
    [pokemon]="pokemon"
    [aoExcluir]="remover">
  </app-pokemon-delete>
</td>
      <td>
        <button pButton label="Editar" icon="pi pi-pencil" class="p-button-warning"
        [routerLink]="['/editar', pokemon.id]"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog></p-confirmDialog>
